@import "compass/reset";

@import "media";

@font-face {
  font-family: 'Corbel';
  src: url('../resorces/Corbel/Corbel-Bold.woff') format('woff'),
       url('../resorces/Corbel/Corbel-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'HelveticaNeueCyr', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}
@mixin page-pagination {
	@include site-container;
		.pagination-list {
			width: 100%;
			margin: 26px auto 27px;
			text-align: center;
			box-sizing: border-box;

			li {
				display: inline-block;
				margin: 0 1px;
				a {
					color: black;
					font-size: 22px;
					font-weight: 400;
					line-height: 18px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						color: #f37835;
					}
				}
			}
		}
}
@mixin mapWrapper {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;

    iframe {
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    }

}
@mixin wideoWrapper {
	max-width: 982px;
	max-height: 529px;
	overflow: hidden;
	margin: 20px auto 31px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@mixin pagination {
	float: right;

	li {
		display: inline-block;
		margin: 0 5px;
		a {
			color: #262b86;
			font-size: 18px;
			font-weight: 400;
			line-height: 11px;
			text-transform: uppercase;
			@include transition;

			&:hover {
				color: #e60012;
			}
		}
	}
}
@mixin direction {
	@include site-container;
    padding: 10px 0;
	background-color: #282828;
	.arrow-back {
		float: left;
	}
	.direction-title,
	.direction-marketing-title {
		margin: 0 auto;
		text-align: center;
		a {
			color: white;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}
	}
	.direction-marketing-title {
		a {
			font-size: 12px;
			line-height: 24px;
		}
	}	
}
@mixin services-title {
	width: 100%;
    margin: 0 auto;
    text-align: center;
	color: white;
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
}
@mixin block-container {
	width: 100%;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	overflow: hidden;
}
@mixin page-title {
    display: block;
    margin-bottom: 24px;
    color: #5786fe;
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
}
.wrapper {
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;
}
a {
	text-decoration: none;
}
/*---------------------------------------*/
header {
	height: 50px;
    padding: 20px 0 0 0;
	background-color: white;
	box-shadow: 0 -2px 8px rgba(0, 1, 1, 0.11);
}
.dropdovn-menu-desctop {
	display: none;
}
.dropdovn-menu-mobile {
	.hidden-menu {
	 display: block;
	  position: fixed;
	  list-style:none;
	  padding: 35px 10px 10px 30px;
	  margin: 0;
	  box-sizing: border-box;
	  width: 205px;
	  background-color: #fff;
	  height: auto;
	  top: 0;
	  left: -205px;
	  transition: left .2s;
	  z-index: 999;
	  -webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	  li {
	    display: block;
	    width: 100%;
	    height: 43px;
	    margin: 0 auto;
	    text-align: left;
	    line-height: 43px;
	    vertical-align: middle;

	    a {
	    	display: block;
	    	width: 100%;
	    	height: 100%;
	    	color: black;
			font-size: 22px;
			font-weight: 400;
			line-height: 40px;
			@include transition;

			&:hover {
				color: #f27935;
			}
	    }
		a.active {
			color: #f27935;
		}
	  }
	}
	.hidden-menu-ticker {
	  display: none;
	}
	.btn-menu {
	  color: #fff;
	  background-color: none;
	  padding: 5px;
	  float: left;
	  position: relative;
	  top: 5px;
	  left: 5px;
	  cursor: pointer;
	  transition: left .23s;
	  z-index: 9999;
	  width: 25px;
	  -webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	}
	.btn-menu span {
	  display: block;
	  height: 2px;
	  background-color: #2a2a2a;
	  margin: 5px 0 0;
	  transition: all .1s linear .23s;
	  border-radius: 10px;
	  position: relative;
	}
	.btn-menu span.first {
	  margin-top: 0;
	}
	.hidden-menu-ticker:checked ~ .btn-menu {
	  left: 145px;
	}
	.hidden-menu-ticker:checked ~ .hidden-menu {
	  left: 0;
	}
	.hidden-menu-ticker:checked ~ .btn-menu span.first {
	  -webkit-transform: rotate(45deg);
	  top: 9px;
	  background-color: #404040;
	}
	.hidden-menu-ticker:checked ~ .btn-menu span.second {
	  opacity: 0;
	  background-color: #404040;
	}

	.hidden-menu-ticker:checked ~ .btn-menu span.third {
	  -webkit-transform: rotate(-45deg);
	  top: -5px;
	  background-color: #404040;
	}
}

/*logo*/
.logo-inside {
	display: none;
}
.logo {
  width: 210px;
  overflow: hidden;
  margin: 7px auto 0;
  /*float: left;*/
  text-align: center;

  img {
  	max-width: 100%;
  	height: auto;
  }
}
.header-info {
  display: none;
}

/*dropdown filter*/
    .call-us-block {
        float: right;
        margin: 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
      line-height: 33px;
      vertical-align: middle;
        }
    }
    #info-mobile {
        width: 221px;
		height: auto;
		background-color: #fff;
        clear:none;
        float: right;
        position: absolute;
        top: 69px;
        right: 0;
        z-index: 100;
        @include transition;

        a {
        	display: block;
        	margin: 15px auto;
        	text-align: center;
        	.phone {
        		color: #353535;
				font-size: 22px;
				font-weight: 700;
				line-height: 22px;
        	}
        }
    }
    label {
    	color: #000; 
    	float: right; 
    	cursor: pointer;
    	@include transition;
		.fa-phone {
			font-size: 23px;
    		color: #171c61;
		}
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}

  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/*---------------------------------------*/
.slider {
	@include site-container;
	display: block;
    width: 100%;
    height: 100%;
	background: url('../images/slider-bg.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    background-position: center;
    .grid {
    	display: none;
    }

    #main-video {
    	display: none;
    }

    .cd-words-wrapper {
	    display: inline-block;
	    position: relative;
	    text-align: left;
	    max-width: 100%;
        min-height: 60px;
	    box-sizing: border-box;
	    overflow: hidden;
	    margin: 28px auto 0;
	    font: 400 22px / 28px 'HelveticaNeueCyr', sans-serif;
	    text-transform: uppercase;
	    text-align: center;
	    color: #fff;
	    .sign {
			color: #f98d14;
		}
	}
	.cd-intro {
	    margin: 0 auto 4em;
	    position: relative;
    	z-index: 99;
	    .item-sign {
	    	display: block;
			margin: 0 auto;
			text-align: center;
			color: white;
			font-size: 18px;
			font-weight: 400;
			line-height: 13px;
	    }
	    .company-services {
	    	display: none;
	    	width: 563px;
			height: auto;
			margin: 38px auto 49px;
			color: white;
			text-align: center;
			font-size: 19px;
			font-weight: 300;
			line-height: 30px;
	    }
	    .do-button {
	    	display: none;
	    	margin: 0 auto 10px;
	    	text-align: center;
	    	width: 160px;
			height: 44px;
			color: white;
			font-size: 19px;
			font-weight: 300;
			line-height: 44px;
			text-transform: uppercase;
			border: 1px solid #fff;
			@include transition;
			box-shadow: 0px 0px 0px 1px #fff;

			/*Градиент*/
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
			background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
			background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
			background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
			background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
			
			&:hover {
				box-shadow: none;
			  /*Градиент*/
			  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.belive-text {
	@include site-container;
	padding: 18px 0;
	background: #fff;

	.belive-content {
		margin: 0 auto;
		text-align: center;
		color: #1a1a1a;
		font-size: 19px;
		font-weight: 400;
		line-height: 24px;
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.photo-web,
.photo-marketing,
.photo-design,
.photo-software {
	@include site-container;
	min-height: 177px;
	box-sizing: border-box;
	margin: 0 auto;
	border-top: 11px solid #fff;

	.wrapper {
		padding: 0;
	}

	.services-title {
		@include services-title;
	}
	.web-list,
	.marketing-list,
	.design-list,
	.software-list {
		display: none;
	}
}

.photo-web {
	background: url('../images/photo-web.png') no-repeat;
	background-size: cover;
    background-position: 100%;
	.block-container {
		@include block-container;
		background: rgba(243,120,53, 0.9);
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.photo-marketing {
	background: url('../images/photo-marketing.png') no-repeat;
	background-size: cover;
	.block-container {
		@include block-container;
		background: rgba(38,166,165, 0.9);
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.photo-design {
	background: url('../images/photo-design.png') no-repeat;
	background-size: cover;
	.block-container {
		@include block-container;
		background: rgba(233,91,77, 0.9);
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.photo-software {
	background: url('../images/photo-software.png') no-repeat;
	background-size: cover;
	.block-container {
		@include block-container;
		background: rgba(246,177,42, 0.9);
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.who-we-are {
	@include site-container;
	padding: 23px 0 21px;
	background: #fff;
	.who-title {
		margin: 0 auto 23px;
		text-align: center;
		color: #2f2f2f;
		font-size: 22px;
		line-height: 35px;
		text-transform: uppercase;
		font-weight: 400;

		span {
			font-weight: 700;
		}
	}
	.who-description {
		margin: 0 auto;
		text-align: center;
		color: #6f6f6f;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
footer {
	@include site-container;
	background: url('../images/footer-bg.png') no-repeat;
	background-size: cover;
    background-position: 100%;
	.form-bg {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		background: rgba(0,0,0, 0.4);

		input {
		    cursor: pointer;
		}
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="submit"]:focus,
		input[type="radio"]:focus,
		textarea:focus {
		    outline: none;
		}

		.form-title {
			width: 100%;
			margin: 28px auto 29px;
			text-align: center;
			color: white;
			font-size: 22px;
			line-height: 45px;
			text-transform: uppercase;
			font-weight: 400;
			span {
				font-weight: 700;
			}
		}
		.desctop-form {
			display: none;
		}
		#feedForm {
			width: 100%;
			box-sizing: border-box;
			overflow: hidden;
			.text-field {
				display: block;
				width: 100%;
				height: 42px;
				margin: 23px auto 0;
				padding-left: 10px;
				border: none;
				background: none;
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				line-height: 45px;
				text-transform: uppercase;
				border-bottom: 2px solid #fff;
				box-sizing: border-box;
				overflow: hidden;
			}
			.message-area {
				width: 100%;
				height: 156px;
				margin: 23px auto 0;
				padding: 10px 0 0 10px;
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				line-height: 40px;
				border: none;
				background: none;
				border: 2px solid white;
				box-sizing: border-box;
				overflow: hidden;
				resize: none;
			}

			::-webkit-input-placeholder {
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				line-height: 45px;
				text-transform: uppercase;
			}

			:-moz-placeholder { /* Firefox 18- */
				color: #fff;
			   font-size: 18px;
				font-weight: 400;
				line-height: 45px;
				text-transform: uppercase;
			}

			::-moz-placeholder {  /* Firefox 19+ */
				color: #fff;
			   font-size: 18px;
				font-weight: 400;
				line-height: 45px;
				text-transform: uppercase;
			}

			:-ms-input-placeholder {  
				color: #fff;
			   font-size: 18px;
				font-weight: 400;
				line-height: 45px;
				text-transform: uppercase;
			}
			.required {
				display: block;
				margin: 21px 0 24px;
				text-align: left;
				color: white;
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;		
			}
			.send-button {
				display: block;
				width: 139px;
				height: 55px;
				margin: 0 auto 28px;
				text-align: center;
				color: white;
				font-size: 18px;
				font-weight: 400;
				line-height: 55px;
				text-transform: uppercase;
				border: 2px solid white;
				background: none;
			}
		}
	}

	.mobile-footer-content {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		background: rgba(0,0,0, 0.6);
	
		.phone-number {
			margin: 33px auto 24px;
			text-align: center;
			color: white;
			font-size: 22px;
			font-weight: 700;
			line-height: 22px;
		}
		.location-address {
			margin: 0 auto;
			text-align: center;
			color: white;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
		}
		.social-icon-mobile {
			width: 100%;
			margin: 27px auto 35px;
			text-align: center;
			box-sizing: border-box;

			li {
				width: 100%;
				margin: 0 auto;
				.icon-facebook {
					display: block;
					width: 46px;
					height: 46px;
					margin: 0 auto;
					text-align: center;
					background: url('../images/icon-facebook.png') no-repeat;
					&:hover  {
						background: url('../images/icon-facebook-hover.png') no-repeat;
					}
				}
			}
		}
	}
	.copyright {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 20px 0 21px;
		text-align: center;
		box-sizing: border-box;
		border-top: 2px solid #fff;
		background: rgba(0,0,0, 0.6);

		.copyright-content {
			color: white;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
			a {
				color: #fff;
				text-decoration: none;
				@include transition;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.desctop-footer-content {
		display: none;
	}
}
/*---------------------------------------*/
.direction {
	@include direction;
}
/*---------------------------------------*/
/*---------------------------------------*/
.services-section {
	@include site-container;
	.services-content-list {
		display: none;
	}
}
.contact-page,
.about-us-page {
	@include site-container;
	position: relative;

	.contact-absolute,
	.contact-absolute-inside,
	.about-us-absolute {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		background: rgba(248,248,248, 0.9);

		.contact-title {
			margin: 51px auto 0;
			color: #f37835;
			font-size: 42px;
			line-height: 60px;
			text-transform: uppercase;
			font-weight: 400;
			span {
				font-weight: 700;
			}
		}
		.contact-description {
			margin: 41px auto 29px;
			color: #5d5d5d;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
		.about-us-title {
			margin: 0 auto;
			text-align: center;
			color: #f37835;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.about-us-descritpion {
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
		.contact-page-info {
			margin-bottom: 63px;
			dt {
				color: #565656;
				font-size: 25px;
				font-weight: 700;
				line-height: 60px;
				text-transform: uppercase;
				clear: both;
			}
			dd {
				vertical-align: middle;
				img {
					float: left;
					margin-right: 19px;
				}
				span {
					display: block;
					color: #565656;
				    font-size: 22px;
				    font-weight: 400;
				    line-height: 22px;
				    overflow: hidden;
				    box-sizing: border-box
				}
			}
		}
	}
	.about-desctop {
		@include site-container;
		min-height: 174px;
		margin-top: 17px;
		background: url('../images/about-us-bg.png') no-repeat;
		background-size: cover;
		background-position: left center;
	
		.about-us-absolute-desctop {
			display: none;		
		}
	}
	

	.mapWrapper {
		@include mapWrapper;
		width: 100%;
		// height: 176px !important;
		.gm-style .place-card-large {
		    display: none !important;
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.about-us-page {
	@include site-container;
	position: relative;

	.about-us-absolute {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		background: rgba(248,248,248, 0.9);

		.about-us-title {
			margin: 22px auto 20px;
			text-align: center;
			color: #f37835;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.about-us-description {
			margin: 0 auto 22px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}
	.about-desctop {
		@include site-container;
		min-height: 174px;
		margin-top: 17px;
		background: url('../images/about-us-bg.png') no-repeat;
		background-size: cover;
		background-position: left center;
	
		.about-us-absolute-desctop {
			display: none;		
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.services-page {
	@include site-container;
	.portfolio-content {
		background: rgba(248,248,248, 0.9);
		padding: 37px 0 17px 26px;
		.portfolio-title {
			display: none;
			margin: 38px auto 34px;
			text-align: center;
			color: black;
			font-size: 42px;
			font-weight: 400;
			line-height: 60px;
			text-transform: uppercase;
		}
		.portfolio-description {
			color: #5d5d5d;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
	}
	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg,
			.marketing-bg,
			.software-bg,
			.design-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
			}
			.marketing-bg {
				background: url('../images/marketing-bg.png') no-repeat;
			}
			.software-bg {
				background: url('../images/software-bg.png') no-repeat;
			}
			.design-bg {
				background: url('../images/design-bg.png') no-repeat;
			}
			/*-----*/
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			.marketing-text {
				background-color: #26a6a5;
				.serv-title {
					border-bottom: 2px solid #26a6a5;
				}
			}
			.software-text {
				background-color: #f5a812;
				.serv-title {
					border-bottom: 2px solid #f5a812;
				}
			}
			.design-text {
				background-color: #e95b4d;
				.serv-title {
					border-bottom: 2px solid #e95b4d;
				}
			}
			/*------------*/
			.web-text,
			.marketing-text,
			.software-text,
			.design-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					color: white;
					font-size: 22px;
					font-weight: 400;
					line-height: 28px;
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.blog-page {
	@include site-container;
	.blog-content {
		display: none;
		background: rgba(248,248,248, 0.9);
		padding: 37px 0 17px 26px;
		.blog-title {
			display: none;
			margin: 38px auto 34px;
			text-align: center;
			color: black;
			font-size: 42px;
			font-weight: 400;
			line-height: 60px;
			text-transform: uppercase;
		}
	}
	.blog-page-list-desctop {
			display: none;
			@include site-container;
		}
	.blog-page-list-mobile, {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.first-article,
			.second-article,
			.third-article,
			.fourth-article {
				width: 100%;
				min-height: 130px;
				height: 100%;
				box-sizing: border-box;
			}

			.first-article {
				background: url('../images/first-article-bg.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			.second-article {
				background: url('../images/second-article-bg.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			.third-article {
				background: url('../images/third-article-bg.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			.fourth-article{
				background: url('../images/fourth-article-bg.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			/*-----*/
			.top-block,
			.bottom-block {
				background: rgba(248,248,248, 0.9);
			}
			/*------------*/
			.top-block {
				text-align: center;
				.article-title {
					margin: 16px auto 0;
					text-align: center;
					width: auto;
					color: #f37835;
					font-size: 22px;
					line-height: 30px;
					font-weight: 400;
					text-transform: uppercase;

					span {
						font-weight: 700;
					}
				}
				.article-date {
					margin: 0 auto 18px;
					text-align: center;
					color: black;
					font-size: 18px;
					font-weight: 400;
					line-height: 34px;
					text-transform: uppercase;
				}
			}
			.bottom-block {
				.article-content {
					margin: 13px 0 0 26px;
					font-size: 18px;
					font-weight: 400;
					line-height: 25px;
					color: #5d5d5d;
				}
				.article-more {
					float: right;
					margin: 20px 0 18px;
					color: black;
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
					border-bottom: 1px solid rgba(248,248,248, 0);
					@include transition;
					
					&:hover {
						border-color: #000;
					}
				}
			}
		}
	}
	.page-pagination {
		@include page-pagination;
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.services-page-main {
	@include site-container;
	.content-services-main {
		display: none;
		background: rgba(248,248,248, 0.9);
		padding: 37px 0 17px 26px;
		.title-services-main {
			display: none;
			margin: 0 auto;
			text-align: center;
			color: black;
			font-size: 42px;
			font-weight: 400;
			line-height: 60px;
			text-transform: uppercase;
		}
	}
	.page-list-services {
		@include site-container;
		margin: 12px auto 0;
		&>li {
		    display: block;
		    width: 100%;
			
			.web-bg,
			.marketing-bg,
			.software-bg,
			.design-bg {
				width: 100%;
				padding: 20px 0;
				box-sizing: border-box;

				img {
					display: block;
					max-width: 100%;
				    width: 6em;
				    height: auto;
				    margin: 0 auto;
				}
			}

			.web-bg {
				background-color: #f37835;
			}
			.marketing-bg {
				background-color: #26a6a5;
			}
			.software-bg {
				background-color: #f5a812;
			}
			.design-bg {
				background-color: #e95b4d;
			}
			/*-----*/
			.web-text {
				background-color: #f37835;
				.serv-title {
					color: #f37835;
					&:hover {
						border-color: #f37835;
					}
				}
				.sign-title {
					li {
						a {
							color: #f37835;
						}
					}
				}
			}
			.marketing-text {
				background-color: #26a6a5;
				.serv-title {
					color: #26a6a5;
					&:hover {
						border-color: #26a6a5;
					}
				}
				.sign-title {
					li {
						a {
							color: #26a6a5;
						}
					}
				}
			}
			.software-text {
				background-color: #f5a812;
				.serv-title {
					color: #f5a812;
					&:hover {
						border-color: #f5a812;
					}
				}
				.sign-title {
					li {
						a {
							color: #f5a812;
						}
					}
				}
			}
			.design-text {
				background-color: #e95b4d;
				.serv-title {
					color: #e95b4d;
					&:hover {
						border-color: #e95b4d;
					}
				}
				.sign-title {
					li {
						a {
							color: #e95b4d;
						}
					}
				}
			}
			/*------------*/
			.web-text,
			.marketing-text,
			.software-text,
			.design-text {
				width: 100%;
				padding: 20px 0 12px;
				text-align: center;
				background: rgba(248,248,248, 0.9);
				.serv-title {
					width: auto;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					border-bottom: 2px solid rgba(248,248,248,0);					
					@include transition;
					
				}
				.sign-title {
					width: 100%;
					margin: 5px auto;
					box-sizing: border-box;

					li {
						a {
							font-size: 18px;
							font-weight: 500;
							line-height: 49px;
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.design-page {
	@include site-container;

	.swiper-container-design {
        width: 100%;
        height: 300px;
        margin: 20px auto;
        .swiper-slide {
	        text-align: center;
	        font-size: 18px;
	        background: #fff;
	        
	        /* Center slide text vertically */
	        display: -webkit-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        -webkit-box-pack: center;
	        -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	        -webkit-box-align: center;
	        -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	    }
    }
}
/*---------------------------------------*/
/*---------------------------------------*/
.blog-more-page {
	@include site-container;
	background: rgba(248,248,248, 0.9);

	.desctop-more,
	.desctop-more-description,
	.slider-container,
	.wideoWrapper-desctop,
	.float-img-desctop {
		display: none;
	}

	.mobile-more-header {
		.article-name {
			margin: 12px auto 0;
			text-align: center;
			color: #f37835;
			font-size: 22px;
			line-height: 40px;
			text-transform: uppercase;
			font-weight: 400;
			span {
				font-weight: 700;
			}
		}
		.article-date {
			display: block;
			margin: 0 auto;
			text-align: center;
			color: black;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
		}
	}

	.float-img {
		width: auto;
		margin: 15px auto 0;
		box-sizing: border-box;
		overflow: hidden;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}

	.mobile-more-content {
		width: 100%;
		margin: 18px auto;
		box-sizing: border-box;
		.article-descroption {
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;				
		}
	}

	.wideoWrapper {
		@include wideoWrapper;
	}

	.back-button {
		float: right;
		margin: 0 0 18px;
		color: black;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.testimonials-page {
	@include site-container;
	.testimonials-content {
		display: none;
		background: rgba(248,248,248, 0.9);
		padding: 37px 0 17px 26px;
		.testimonials-title {
			display: none;
			margin: 38px auto 34px;
			text-align: center;
			color: black;
			font-size: 42px;
			font-weight: 400;
			line-height: 60px;
			text-transform: uppercase;
		}
	}
	.testimonials-page-list-desctop {
			display: none;
			@include site-container;
		}
		.page-pagination-desctop {
			@include page-pagination;
			display: none;
		}
	.testimonials-page-list-mobile, {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
			
			.first-article,
			.second-article,
			.third-article,
			.fourth-article {
				width: 100%;
				min-height: 130px;
				height: 100%;
				box-sizing: border-box;
			}

			.first-article {
				background: url('../images/testimonials-photo-mobile-1.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			.second-article {
				background: url('../images/testimonials-photo-mobile-2.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			.third-article {
				background: url('../images/testimonials-photo-mobile-3.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			.fourth-article{
				background: url('../images/testimonials-photo-mobile-4.png') no-repeat;
				background-size: cover;
				background-position: center center;
			}
			/*------------*/
			.full-block {
				background: rgba(248,248,248, 0.9);
				text-align: center;
				.article-title {
					margin: 16px auto 0;
					text-align: center;
					width: auto;
					color: #f37835;
					font-size: 22px;
					line-height: 30px;
					font-weight: 400;
					text-transform: uppercase;

					span {
						font-weight: 700;
					}
				}
				.article-date {
					margin: 0 auto 18px;
					text-align: center;
					color: black;
					font-size: 18px;
					font-weight: 400;
					line-height: 34px;
					text-transform: uppercase;
				}
				.article-content {
					position: relative;
					width: 197px;
				    margin: 13px auto 40px;
				    font-size: 18px;
				    font-weight: 400;
				    width: 197px;
				    color: #5d5d5d;
				    text-align: justify;
					&:before {
						position: absolute;
						top: -5px;
    					left: -30px;
						content: "";
						display: block;
						width: 20px;
						height: 18px;
						background: url('../images/forma-left.png') no-repeat;
						background-size: cover;
						background-position: center center;
					}
					&:after {
						position: absolute;
						bottom: -20px;
    					right: -30px;
						content: "";
						display: block;
						width: 20px;
						height: 18px;
						background: url('../images/forma-right.png') no-repeat;
						background-size: cover;
						background-position: center center;
					}
				}
			}
		}
	}
	.page-pagination-mobile {
		@include page-pagination;
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.internet-marketing-consulting-page {

	.imc-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/imc-mobile.png') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.imc-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.imc-desctop-ather-content {
		display: none;
	}
	.imc-mobile {
		background: rgba(248,248,248, 0.9);
		.imc-title {
			margin: 22px auto 0;
			text-align: center;
			color: #2ca7a7;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.imc-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.photography-page {

	.photography-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/photography-bg.png') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.photography-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.photography-mobile {
		background: rgba(248,248,248, 0.9);
		.photography-title {
			margin: 22px auto 0;
			text-align: center;
			color: #e95b4d;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.photography-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.ready-to-go-page {

	.ready-to-go-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/ready-to-go-bg.png') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.ready-to-go-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.ready-to-go-mobile {
		background: rgba(248,248,248, 0.9);
		.ready-to-go-title {
			margin: 22px auto 0;
			text-align: center;
			color: #f37936;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.ready-to-go-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.alternative-solutions-page {

	.alternative-solutions-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/alternat_solutions.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.alternative-solutions-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.alternative-solutions-mobile {
		background: rgba(248,248,248, 0.9);
		.alternative-solutions-title {
			margin: 22px auto 0;
			text-align: center;
			color: #f5a812;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.alternative-solutions-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.corporate-identity-page {

	.corporate-identity-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/corporate_dentity.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.corporate-identity-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.corporate-identity-mobile {
		background: rgba(248,248,248, 0.9);
		.corporate-identity-title {
			margin: 22px auto 0;
			text-align: center;
			color: #e95b4d;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.corporate-identity-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.graphic-design-page {

	.graphic-design-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/graphic_design.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.graphic-design-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.graphic-design-mobile {
		background: rgba(248,248,248, 0.9);
		.graphic-design-title {
			margin: 22px auto 0;
			text-align: center;
			color: #e95b4d;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.graphic-design-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.it-outsoursing-page {

	.it-outsoursing-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/it_outsoursing.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.it-outsoursing-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.it-outsoursing-mobile {
		background: rgba(248,248,248, 0.9);
		.it-outsoursing-title {
			margin: 22px auto 0;
			text-align: center;
			color: #f5a812;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.it-outsoursing-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.pay-per-click-marketing-page {

	.pay-per-click-marketing-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/pay-per_click_marketing.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.pay-per-click-marketing-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.pay-per-click-marketing-mobile {
		background: rgba(248,248,248, 0.9);
		.pay-per-click-marketing-title {
			margin: 22px auto 0;
			text-align: center;
			color: #26a6a5;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.pay-per-click-marketing-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/
/*---------------------------------------*/
.seo-page {

	.seo-img-bg {
		width: 100%;
		height: 173px;
		margin-top: 17px;
		box-sizing: border-box;
		background: url('../images/SEO.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.seo-desctop {
		background: rgba(248,248,248, 0.9);
		display: none;
	}
	.photo-ather-content {
		display: none;
	}
	.seo-mobile {
		background: rgba(248,248,248, 0.9);
		.seo-title {
			margin: 22px auto 0;
			text-align: center;
			color: #26a6a5;
			font-size: 22px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 400;

			span {
				font-weight: 700;
			}
		}
		.seo-description {
			margin: 20px auto;
			padding: 0 15px;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: #5d5d5d;
		}
	}

	.services-page-list {
		@include site-container;
		li {
		    display: block;
		    width: 100%;
		    border-bottom: 12px solid #fff;
			
			.web-bg {
				width: 100%;
				min-height: 130px;
				box-sizing: border-box;
			}

			.web-bg {
				background: url('../images/web-bg.png') no-repeat;
				background-size: cover;
    			background-position: center center;
			}
			.web-text {
				background-color: #f37835;
				.serv-title {
					border-bottom: 2px solid #f37835;
				}
			}
			/*------------*/
			.web-text {
				text-align: center;
				.serv-title {
					width: auto;
					color: white;
					font-size: 40px;
					font-weight: 700;
					line-height: 48px;
					text-transform: uppercase;
					text-decoration: none;
					@include transition;

					&:hover {
						border-color: #fff;
					}
				}
				.sign-title {
					margin: 5px auto;
					a {
						width: auto;
						color: white;
						font-size: 22px;
						font-weight: 400;
						line-height: 28px;
						border-bottom: 1px solid rgba(248,248,248, 0);
						@include transition;

						&:hover {
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}
/*---------------------------------------*/