@import "compass/reset";

@import "media";

@font-face {
  font-family: 'Corbel';
  src: url('../resorces/Corbel/Corbel-Bold.woff') format('woff'),
       url('../resorces/Corbel/Corbel-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'HelveticaNeueCyr', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #ccc;
}
@mixin wideo-wrapper {
	display: block;
	max-width: 781px;
	max-height: 422px;
	overflow: hidden;
	margin: 20px auto 31px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@mixin pagination {
	float: right;

	li {
		display: inline-block;
		margin: 0 5px;
		a {
			color: #262b86;
			font-size: 18px;
			font-weight: 400;
			line-height: 11px;
			text-transform: uppercase;
			@include transition;

			&:hover {
				color: #e60012;
			}
		}
	}
}
@mixin page-title {
		    display: block;
		    margin-bottom: 24px;
		    color: #5786fe;
		    text-align: left;
		    font-size: 50px;
		    font-weight: 600;
		    line-height: 50px;
		    text-transform: uppercase;
}
.wrapper {
	max-width: 985px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	overflow: hidden;
}
a {
	text-decoration: none;
}
/*---------------------------------------*/
header {
	// background-color: white;
	background-color: #ccc;
	box-shadow: 0 -2px 8px rgba(0, 1, 1, 0.11);
	.desctop-menu {
		display: none;
	}

	.logo-sign,
	.desctop-phone,
	.desctop-lenguage-select,
	.reservation-button {
		display: none;
	}
}
.hidden-menu {
  display: block;
  position: relative;
  list-style:none;
  padding: 35px 10px;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 1, 1, 0.11);
  height: auto;
  width: 205px;
  height: 100%;
  top: 0;
  left: -315px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;

    a {
    	display: block;
    	width: 100%;
    	height: 100%;
    	color: black;
		font-size: 22px;
		font-weight: 400;
		line-height: 40px;
		@include transition;

		&:hover {
			color: #f27935;
		}
		.active {
			color: #f27935;
		}
    }
  }
  .lenguage-select {
  	margin-bottom: 35px;
  	color: #ff5a00;
	font-family: 'SFUIDisplay', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 43px;
	vertical-align: top;
  	a {
  		display: inline-block;
  		width: auto;
  		color: #ff5a00;
  		@include transition;

		&:hover {
			color: #fff;
		}	
  	}
  }

}
.hidden-menu-ticker {
  display: none;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  float: left;
  position: relative;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 2px;
  background-color: #2a2a2a;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  border-radius: 10px;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 150px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: -15px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 9px;
  background-color: #404040;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
  background-color: #404040;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -5px;
  background-color: #404040;
}
/*logo*/
.logo {
  max-width: 63px;
  overflow: hidden;
  margin: 0 auto;
  /*float: left;*/
  text-align: center;

  img {
  	max-width: 100%;
  	height: auto;
  }
}
.header-info {
  display: none;
}

/*dropdown filter*/
    .call-us-block {
        float: right;
        margin: 32px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
          display: inline-block;
      line-height: 33px;
      vertical-align: middle;
        }
    }
    #info-mobile {
        width: 221px;
		height: 76px;
		background-color: #1e1e1e;
        clear:none;
        float: right;
        position: absolute;
        top: 81px;
        right: 0;
        z-index: 2;
        @include transition;

        a {
        	display: block;
        	margin: 15px auto;
        	text-align: center;
        	.phone {
        		color: white;
				font-family: 'Roboto', sans-serif;
				font-size: 22px;
				font-weight: 700;
				line-height: 45px;
        	}
        }
    }
    label {
    	color: #000; 
    	float: right; 
    	cursor: pointer;
    	@include transition;
		.fa-phone {
			font-size: 23px;
    		color: #171c61;
		}
    }
    input{display:none;}
    input:checked+#info-mobile{display:none;}

  /*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/