@charset "UTF-8";
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (min-width: 480px) {
  /* line 11, ../sass/_media.scss */
  header .logo {
    width: auto !important;
    margin: 0 auto !important;
  }

  /* line 17, ../sass/_media.scss */
  .photo-web,
  .photo-marketing,
  .photo-design,
  .photo-software {
    min-height: 265px !important;
  }
}
@media (min-width: 768px) {
  /*---------------------------------------*/
  /* line 28, ../sass/_media.scss */
  .slider {
    background: none !important;
    overflow: hidden;
    padding-bottom: 80px !important;
  }
  /* line 33, ../sass/_media.scss */
  .slider .grid {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/grid.png);
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
  }
  /* line 47, ../sass/_media.scss */
  .slider #main-video {
    display: block !important;
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  /* line 57, ../sass/_media.scss */
  .slider .cd-intro .company-services,
  .slider .cd-intro .do-button {
    display: block !important;
  }
  /* line 62, ../sass/_media.scss */
  .slider .cd-words-wrapper {
    min-height: auto !important;
    margin: 80px auto 0 !important;
    font-size: 66px !important;
    line-height: 70px !important;
  }

  /* line 70, ../sass/_media.scss */
  .belive-text {
    padding: 25px 0 15px !important;
  }
  /* line 72, ../sass/_media.scss */
  .belive-text .belive-content {
    font-size: 22px !important;
    line-height: 28px !important;
  }
}
@media (min-width: 1024px) {
  /*---------------------------------------*/
  /* line 80, ../sass/_media.scss */
  header {
    height: 71px !important;
  }
  /* line 83, ../sass/_media.scss */
  header .dropdovn-menu-mobile {
    display: none !important;
  }
  /* line 87, ../sass/_media.scss */
  header .dropdovn-menu-desctop {
    display: block !important;
    float: right;
    position: relative;
    display: inline-block;
  }
  /* line 93, ../sass/_media.scss */
  header .dropdovn-menu-desctop .burger {
    color: #fff;
    background-color: none;
    padding: 5px;
    float: right;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 9999;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /* line 107, ../sass/_media.scss */
  header .dropdovn-menu-desctop .burger span {
    display: block;
    height: 2px;
    background-color: #2a2a2a;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    border-radius: 10px;
    position: relative;
  }
  /* line 118, ../sass/_media.scss */
  header .dropdovn-menu-desctop .dropdown-content {
    display: none;
    list-style: none;
    padding: 35px 10px 10px 30px;
    margin: 71px 0 0 0;
    box-sizing: border-box;
    background-color: white;
    background: url("../images/downdrop-menu.png");
    background-size: cover;
    background-size: cover !important;
    background-position: right center;
    height: auto;
    width: 205px;
    position: relative;
    z-index: 999;
  }
  /* line 135, ../sass/_media.scss */
  header .dropdovn-menu-desctop .dropdown-content li {
    display: block;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    text-align: left;
    line-height: 43px;
    vertical-align: middle;
  }
  /* line 144, ../sass/_media.scss */
  header .dropdovn-menu-desctop .dropdown-content li a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  /* line 154, ../sass/_media.scss */
  header .dropdovn-menu-desctop .dropdown-content li a:hover {
    color: #f27935;
  }
  /* line 158, ../sass/_media.scss */
  header .dropdovn-menu-desctop .dropdown-content li a.dropdown-active {
    color: #f27935;
  }
  /* line 164, ../sass/_media.scss */
  header .logo {
    float: left;
  }
  /* line 168, ../sass/_media.scss */
  header .call-us-block {
    display: none;
  }

  /*---------------------------------------*/
  /* line 175, ../sass/_media.scss */
  .slider .cd-words-wrapper {
    margin: 120px auto 0 !important;
  }
  /* line 179, ../sass/_media.scss */
  .slider .cd-intro {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  /* line 186, ../sass/_media.scss */
  .mobile-footer-content {
    display: none;
  }

  /* line 189, ../sass/_media.scss */
  .desctop-footer-content {
    display: block;
  }

  /* line 192, ../sass/_media.scss */
  .photo-web,
  .photo-marketing,
  .photo-design,
  .photo-software {
    min-height: 601px !important;
    height: 100%;
    box-sizing: border-box;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    border: none !important;
  }
  /* line 204, ../sass/_media.scss */
  .photo-web .wrapper,
  .photo-marketing .wrapper,
  .photo-design .wrapper,
  .photo-software .wrapper {
    width: 400px !important;
  }
  /* line 208, ../sass/_media.scss */
  .photo-web .wrapper .web-list,
  .photo-web .wrapper .marketing-list,
  .photo-web .wrapper .design-list,
  .photo-web .wrapper .software-list,
  .photo-marketing .wrapper .web-list,
  .photo-marketing .wrapper .marketing-list,
  .photo-marketing .wrapper .design-list,
  .photo-marketing .wrapper .software-list,
  .photo-design .wrapper .web-list,
  .photo-design .wrapper .marketing-list,
  .photo-design .wrapper .design-list,
  .photo-design .wrapper .software-list,
  .photo-software .wrapper .web-list,
  .photo-software .wrapper .marketing-list,
  .photo-software .wrapper .design-list,
  .photo-software .wrapper .software-list {
    display: block !important;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 136px;
  }
  /* line 217, ../sass/_media.scss */
  .photo-web .wrapper .web-list li,
  .photo-web .wrapper .marketing-list li,
  .photo-web .wrapper .design-list li,
  .photo-web .wrapper .software-list li,
  .photo-marketing .wrapper .web-list li,
  .photo-marketing .wrapper .marketing-list li,
  .photo-marketing .wrapper .design-list li,
  .photo-marketing .wrapper .software-list li,
  .photo-design .wrapper .web-list li,
  .photo-design .wrapper .marketing-list li,
  .photo-design .wrapper .design-list li,
  .photo-design .wrapper .software-list li,
  .photo-software .wrapper .web-list li,
  .photo-software .wrapper .marketing-list li,
  .photo-software .wrapper .design-list li,
  .photo-software .wrapper .software-list li {
    width: 100%;
    display: block;
    margin: 27px auto 0;
  }
  /* line 222, ../sass/_media.scss */
  .photo-web .wrapper .web-list li:first-child,
  .photo-web .wrapper .marketing-list li:first-child,
  .photo-web .wrapper .design-list li:first-child,
  .photo-web .wrapper .software-list li:first-child,
  .photo-marketing .wrapper .web-list li:first-child,
  .photo-marketing .wrapper .marketing-list li:first-child,
  .photo-marketing .wrapper .design-list li:first-child,
  .photo-marketing .wrapper .software-list li:first-child,
  .photo-design .wrapper .web-list li:first-child,
  .photo-design .wrapper .marketing-list li:first-child,
  .photo-design .wrapper .design-list li:first-child,
  .photo-design .wrapper .software-list li:first-child,
  .photo-software .wrapper .web-list li:first-child,
  .photo-software .wrapper .marketing-list li:first-child,
  .photo-software .wrapper .design-list li:first-child,
  .photo-software .wrapper .software-list li:first-child {
    margin-top: 0;
  }
  /* line 226, ../sass/_media.scss */
  .photo-web .wrapper .web-list li h3,
  .photo-web .wrapper .marketing-list li h3,
  .photo-web .wrapper .design-list li h3,
  .photo-web .wrapper .software-list li h3,
  .photo-marketing .wrapper .web-list li h3,
  .photo-marketing .wrapper .marketing-list li h3,
  .photo-marketing .wrapper .design-list li h3,
  .photo-marketing .wrapper .software-list li h3,
  .photo-design .wrapper .web-list li h3,
  .photo-design .wrapper .marketing-list li h3,
  .photo-design .wrapper .design-list li h3,
  .photo-design .wrapper .software-list li h3,
  .photo-software .wrapper .web-list li h3,
  .photo-software .wrapper .marketing-list li h3,
  .photo-software .wrapper .design-list li h3,
  .photo-software .wrapper .software-list li h3 {
    margin-bottom: 6px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }
  /* line 233, ../sass/_media.scss */
  .photo-web .wrapper .web-list li h4,
  .photo-web .wrapper .marketing-list li h4,
  .photo-web .wrapper .design-list li h4,
  .photo-web .wrapper .software-list li h4,
  .photo-marketing .wrapper .web-list li h4,
  .photo-marketing .wrapper .marketing-list li h4,
  .photo-marketing .wrapper .design-list li h4,
  .photo-marketing .wrapper .software-list li h4,
  .photo-design .wrapper .web-list li h4,
  .photo-design .wrapper .marketing-list li h4,
  .photo-design .wrapper .design-list li h4,
  .photo-design .wrapper .software-list li h4,
  .photo-software .wrapper .web-list li h4,
  .photo-software .wrapper .marketing-list li h4,
  .photo-software .wrapper .design-list li h4,
  .photo-software .wrapper .software-list li h4 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  /* line 243, ../sass/_media.scss */
  .photo-web .services-title,
  .photo-marketing .services-title,
  .photo-design .services-title,
  .photo-software .services-title {
    margin: 60px 0 20px !important;
  }

  /* line 249, ../sass/_media.scss */
  .photo-web .block-container,
  .photo-design .block-container {
    width: 50% !important;
    height: 100% !important;
    left: 0;
    text-align: left;
  }
  /* line 254, ../sass/_media.scss */
  .photo-web .block-container .services-title,
  .photo-design .block-container .services-title {
    text-align: left !important;
  }

  /* line 261, ../sass/_media.scss */
  .photo-marketing .block-container,
  .photo-software .block-container {
    width: 50% !important;
    height: 100% !important;
    right: 0;
    text-align: right;
  }
  /* line 266, ../sass/_media.scss */
  .photo-marketing .block-container .services-title,
  .photo-software .block-container .services-title {
    text-align: right !important;
  }

  /* line 271, ../sass/_media.scss */
  .who-we-are {
    padding: 69px 0 74px !important;
  }
  /* line 273, ../sass/_media.scss */
  .who-we-are .who-title {
    font-size: 50px !important;
    line-height: 50px !important;
  }
  /* line 277, ../sass/_media.scss */
  .who-we-are .who-description {
    font-size: 22px !important;
    line-height: 35px !important;
  }

  /*-----------------------*/
  /* line 285, ../sass/_media.scss */
  footer .form-bg .form-title {
    margin-top: 70px !important;
    font-size: 50px !important;
    line-height: 45px !important;
  }
  /* line 290, ../sass/_media.scss */
  footer .form-bg .mobile-form {
    display: none;
  }
  /* line 293, ../sass/_media.scss */
  footer .form-bg .desctop-form {
    display: block !important;
  }
  /* line 296, ../sass/_media.scss */
  footer .form-bg .desctop-form .text-field {
    width: 45% !important;
  }
  /* line 299, ../sass/_media.scss */
  footer .form-bg .desctop-form .name,
  footer .form-bg .desctop-form .email {
    float: left;
  }
  /* line 303, ../sass/_media.scss */
  footer .form-bg .desctop-form .phone,
  footer .form-bg .desctop-form .subject {
    float: right;
  }
  /* line 307, ../sass/_media.scss */
  footer .form-bg .desctop-form .message-area {
    margin-bottom: 25px !important;
  }
  /* line 310, ../sass/_media.scss */
  footer .form-bg .desctop-form .required {
    float: left !important;
    width: 50% !important;
  }
  /* line 314, ../sass/_media.scss */
  footer .form-bg .desctop-form .send-button {
    float: right !important;
  }
  /* line 319, ../sass/_media.scss */
  footer .desctop-footer-content {
    display: block !important;
    padding: 34px 0 46px;
    background: rgba(0, 0, 0, 0.8);
  }
  /* line 324, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-align-content: space-between;
    align-content: space-between;
  }
  /* line 338, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .services-list li {
    display: block;
    width: 100%;
    margin: 15px auto;
  }
  /* line 342, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .services-list li a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  /* line 349, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .services-list li a:hover {
    color: #fa8d14;
  }
  /* line 353, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .services-list li a.active-services {
    color: #f27935;
  }
  /* line 359, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .info-list li {
    display: block;
    width: 100%;
    margin: 18px auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 366, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .info-list li .float-img {
    float: left;
    margin-right: 18px;
  }
  /* line 370, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .info-list li .info-content {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  /* line 379, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .info-list li .info-phone {
    font-weight: 700;
  }
  /* line 386, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .social-icon-desctop li span {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
  }
  /* line 395, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .social-icon-desctop li .icon-facebook {
    display: block;
    width: 46px;
    height: 46px;
    margin: 25px auto 0;
    text-align: center;
    background: url("../images/icon-facebook.png") no-repeat;
  }
  /* line 402, ../sass/_media.scss */
  footer .desctop-footer-content .desctop-footer-list > li .social-icon-desctop li .icon-facebook:hover {
    background: url("../images/icon-facebook-hover.png") no-repeat;
  }
  /* line 411, ../sass/_media.scss */
  footer .copyright {
    background: rgba(0, 0, 0, 0.8) !important;
  }

  /*-----------------------*/
}
@font-face {
  font-family: 'Corbel';
  src: url("../resorces/Corbel/Corbel-Bold.woff") format("woff"), url("../resorces/Corbel/Corbel-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/main_styles.scss */
body {
  font-family: 'HelveticaNeueCyr', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}

/* line 98, ../sass/main_styles.scss */
.wrapper {
  max-width: 985px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 105, ../sass/main_styles.scss */
a {
  text-decoration: none;
}

/*---------------------------------------*/
/* line 109, ../sass/main_styles.scss */
header {
  height: 50px;
  padding: 20px 0 0 0;
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 1, 1, 0.11);
}

/* line 115, ../sass/main_styles.scss */
.dropdovn-menu-desctop {
  display: none;
}

/* line 119, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu {
  display: block;
  position: absolute;
  list-style: none;
  padding: 35px 10px 10px 30px;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 1, 1, 0.11);
  height: auto;
  width: 205px;
  height: auto;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 999;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 138, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 0 auto;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
}
/* line 147, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 157, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li a:hover {
  color: #f27935;
}
/* line 161, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li a.active {
  color: #f27935;
}
/* line 167, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker {
  display: none;
}
/* line 170, ../sass/main_styles.scss */
.dropdovn-menu-mobile .btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  float: left;
  position: relative;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 9999;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 185, ../sass/main_styles.scss */
.dropdovn-menu-mobile .btn-menu span {
  display: block;
  height: 2px;
  background-color: #2a2a2a;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  border-radius: 10px;
  position: relative;
}
/* line 194, ../sass/main_styles.scss */
.dropdovn-menu-mobile .btn-menu span.first {
  margin-top: 0;
}
/* line 197, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu {
  left: 150px;
  position: fixed;
}
/* line 201, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .hidden-menu {
  left: -15px;
  position: fixed;
}
/* line 205, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 9px;
  background-color: #404040;
}
/* line 210, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
  background-color: #404040;
}
/* line 215, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -5px;
  background-color: #404040;
}

/*logo*/
/* line 223, ../sass/main_styles.scss */
.logo {
  width: 210px;
  overflow: hidden;
  margin: 7px auto 0;
  /*float: left;*/
  text-align: center;
}
/* line 230, ../sass/main_styles.scss */
.logo img {
  max-width: 100%;
  height: auto;
}

/* line 235, ../sass/main_styles.scss */
.header-info {
  display: none;
}

/*dropdown filter*/
/* line 240, ../sass/main_styles.scss */
.call-us-block {
  float: right;
  margin: 0;
  line-height: 33px;
  vertical-align: middle;
}
/* line 246, ../sass/main_styles.scss */
.call-us-block img {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}

/* line 252, ../sass/main_styles.scss */
#info-mobile {
  width: 221px;
  height: auto;
  background-color: #fff;
  clear: none;
  float: right;
  position: absolute;
  top: 69px;
  right: 0;
  z-index: 100;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 264, ../sass/main_styles.scss */
#info-mobile a {
  display: block;
  margin: 15px auto;
  text-align: center;
}
/* line 268, ../sass/main_styles.scss */
#info-mobile a .phone {
  color: #353535;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

/* line 276, ../sass/main_styles.scss */
label {
  color: #000;
  float: right;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 281, ../sass/main_styles.scss */
label .fa-phone {
  font-size: 23px;
  color: #171c61;
}

/* line 286, ../sass/main_styles.scss */
input {
  display: none;
}

/* line 287, ../sass/main_styles.scss */
input:checked + #info-mobile {
  display: none;
}

/*end dropdown filter*/
/*end menu*/
/*---------------------------------------*/
/*---------------------------------------*/
/* line 293, ../sass/main_styles.scss */
.slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/slider-bg.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  background-position: center;
}
/* line 303, ../sass/main_styles.scss */
.slider .grid {
  display: none;
}
/* line 307, ../sass/main_styles.scss */
.slider #main-video {
  display: none;
}
/* line 311, ../sass/main_styles.scss */
.slider .cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  max-width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 28px auto 0;
  font: 400 22px / 28px 'HelveticaNeueCyr', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/* line 324, ../sass/main_styles.scss */
.slider .cd-words-wrapper .sign {
  color: #f98d14;
}
/* line 328, ../sass/main_styles.scss */
.slider .cd-intro {
  margin: 0 auto 4em;
  position: relative;
  z-index: 99;
}
/* line 332, ../sass/main_styles.scss */
.slider .cd-intro .item-sign {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 13px;
}
/* line 341, ../sass/main_styles.scss */
.slider .cd-intro .company-services {
  display: none;
  width: 563px;
  height: auto;
  margin: 38px auto 49px;
  color: white;
  text-align: center;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
}
/* line 352, ../sass/main_styles.scss */
.slider .cd-intro .do-button {
  display: none;
  margin: 0 auto 10px;
  text-align: center;
  width: 160px;
  height: 44px;
  color: white;
  font-size: 19px;
  font-weight: 300;
  line-height: 44px;
  text-transform: uppercase;
  border: 1px solid #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  box-shadow: 0px 0px 0px 1px #fff;
  /*╨У╤А╨░╨┤╨╕╨╡╨╜╤В*/
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
}
/* line 374, ../sass/main_styles.scss */
.slider .cd-intro .do-button:hover {
  box-shadow: none;
  /*╨У╤А╨░╨┤╨╕╨╡╨╜╤В*/
  background-image: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 388, ../sass/main_styles.scss */
.belive-text {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 18px 0;
  background: #fff;
}
/* line 393, ../sass/main_styles.scss */
.belive-text .belive-content {
  margin: 0 auto;
  text-align: center;
  color: #1a1a1a;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 404, ../sass/main_styles.scss */
.photo-web,
.photo-marketing,
.photo-design,
.photo-software {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  min-height: 177px;
  box-sizing: border-box;
  margin: 0 auto;
  border-top: 11px solid #fff;
}
/* line 414, ../sass/main_styles.scss */
.photo-web .wrapper,
.photo-marketing .wrapper,
.photo-design .wrapper,
.photo-software .wrapper {
  padding: 0;
}
/* line 418, ../sass/main_styles.scss */
.photo-web .services-title,
.photo-marketing .services-title,
.photo-design .services-title,
.photo-software .services-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 421, ../sass/main_styles.scss */
.photo-web .web-list,
.photo-web .marketing-list,
.photo-web .design-list,
.photo-web .software-list,
.photo-marketing .web-list,
.photo-marketing .marketing-list,
.photo-marketing .design-list,
.photo-marketing .software-list,
.photo-design .web-list,
.photo-design .marketing-list,
.photo-design .design-list,
.photo-design .software-list,
.photo-software .web-list,
.photo-software .marketing-list,
.photo-software .design-list,
.photo-software .software-list {
  display: none;
}

/* line 429, ../sass/main_styles.scss */
.photo-web {
  background: url("../images/photo-web.png") no-repeat;
  background-size: cover;
  background-position: 100%;
}
/* line 433, ../sass/main_styles.scss */
.photo-web .block-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(243, 120, 53, 0.9);
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 440, ../sass/main_styles.scss */
.photo-marketing {
  background: url("../images/photo-marketing.png") no-repeat;
  background-size: cover;
}
/* line 443, ../sass/main_styles.scss */
.photo-marketing .block-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(38, 166, 165, 0.9);
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 450, ../sass/main_styles.scss */
.photo-design {
  background: url("../images/photo-design.png") no-repeat;
  background-size: cover;
}
/* line 453, ../sass/main_styles.scss */
.photo-design .block-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(233, 91, 77, 0.9);
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 460, ../sass/main_styles.scss */
.photo-software {
  background: url("../images/photo-software.png") no-repeat;
  background-size: cover;
}
/* line 463, ../sass/main_styles.scss */
.photo-software .block-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(246, 177, 42, 0.9);
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 470, ../sass/main_styles.scss */
.who-we-are {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 23px 0 21px;
  background: #fff;
}
/* line 474, ../sass/main_styles.scss */
.who-we-are .who-title {
  margin: 0 auto 23px;
  text-align: center;
  color: #2f2f2f;
  font-size: 22px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 400;
}
/* line 483, ../sass/main_styles.scss */
.who-we-are .who-title span {
  font-weight: 700;
}
/* line 487, ../sass/main_styles.scss */
.who-we-are .who-description {
  margin: 0 auto;
  text-align: center;
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

/*---------------------------------------*/
/*---------------------------------------*/
/* line 498, ../sass/main_styles.scss */
footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  background: url("../images/footer-bg.png") no-repeat;
  background-size: cover;
  background-position: 100%;
}
/* line 503, ../sass/main_styles.scss */
footer .form-bg {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
}
/* line 509, ../sass/main_styles.scss */
footer .form-bg input {
  cursor: pointer;
}
/* line 512, ../sass/main_styles.scss */
footer .form-bg input[type="text"]:focus,
footer .form-bg input[type="password"]:focus,
footer .form-bg input[type="submit"]:focus,
footer .form-bg input[type="radio"]:focus,
footer .form-bg textarea:focus {
  outline: none;
}
/* line 520, ../sass/main_styles.scss */
footer .form-bg .form-title {
  width: 100%;
  margin: 28px auto 29px;
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 400;
}
/* line 529, ../sass/main_styles.scss */
footer .form-bg .form-title span {
  font-weight: 700;
}
/* line 533, ../sass/main_styles.scss */
footer .form-bg .desctop-form {
  display: none;
}
/* line 536, ../sass/main_styles.scss */
footer .form-bg #feedForm {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 540, ../sass/main_styles.scss */
footer .form-bg #feedForm .text-field {
  display: block;
  width: 100%;
  height: 42px;
  margin: 23px auto 0;
  padding-left: 10px;
  border: none;
  background: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 557, ../sass/main_styles.scss */
footer .form-bg #feedForm .message-area {
  width: 100%;
  height: 156px;
  margin: 23px auto 0;
  padding: 10px 0 0 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  border: none;
  background: none;
  border: 2px solid white;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
}
/* line 574, ../sass/main_styles.scss */
footer .form-bg #feedForm ::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}
/* line 582, ../sass/main_styles.scss */
footer .form-bg #feedForm :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}
/* line 590, ../sass/main_styles.scss */
footer .form-bg #feedForm ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}
/* line 598, ../sass/main_styles.scss */
footer .form-bg #feedForm :-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}
/* line 605, ../sass/main_styles.scss */
footer .form-bg #feedForm .required {
  display: block;
  margin: 21px 0 24px;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
/* line 614, ../sass/main_styles.scss */
footer .form-bg #feedForm .send-button {
  display: block;
  width: 139px;
  height: 55px;
  margin: 0 auto 28px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 55px;
  text-transform: uppercase;
  border: 2px solid white;
  background: none;
}
/* line 631, ../sass/main_styles.scss */
footer .mobile-footer-content {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}
/* line 637, ../sass/main_styles.scss */
footer .mobile-footer-content .phone-number {
  margin: 33px auto 24px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}
/* line 645, ../sass/main_styles.scss */
footer .mobile-footer-content .location-address {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
/* line 653, ../sass/main_styles.scss */
footer .mobile-footer-content .social-icon-mobile {
  width: 100%;
  margin: 27px auto 35px;
  text-align: center;
  box-sizing: border-box;
}
/* line 659, ../sass/main_styles.scss */
footer .mobile-footer-content .social-icon-mobile li {
  width: 100%;
  margin: 0 auto;
}
/* line 662, ../sass/main_styles.scss */
footer .mobile-footer-content .social-icon-mobile li .icon-facebook {
  display: block;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  text-align: center;
  background: url("../images/icon-facebook.png") no-repeat;
}
/* line 669, ../sass/main_styles.scss */
footer .mobile-footer-content .social-icon-mobile li .icon-facebook:hover {
  background: url("../images/icon-facebook-hover.png") no-repeat;
}
/* line 676, ../sass/main_styles.scss */
footer .copyright {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0 21px;
  text-align: center;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
}
/* line 686, ../sass/main_styles.scss */
footer .copyright .copyright-content {
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
/* line 691, ../sass/main_styles.scss */
footer .copyright .copyright-content a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 695, ../sass/main_styles.scss */
footer .copyright .copyright-content a:hover {
  text-decoration: underline;
}
/* line 701, ../sass/main_styles.scss */
footer .desctop-footer-content {
  display: none;
}

/*---------------------------------------*/
